@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: 'HelveticaNeueCyr_UltraLight';
    src: url('fonts/HelveticaNeueCyr-UltraLight.eot');
    src: url('fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
    url('fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr_Light';
    src: url('fonts/HelveticaNeueCyr-Light.eot');
    src: url('fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr_Bold';
    src: url('fonts/HelveticaNeueCyr-Bold.eot');
    src: url('fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlissPro_Heavy';
    src: url('fonts/BlissPro-Heavy.eot');
    src: url('fonts/BlissPro-Heavy.eot?#iefix') format('embedded-opentype'),
    url('fonts/BlissPro-Heavy.woff') format('woff'),
    url('fonts/BlissPro-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlissPro_Bold';
    src: url('fonts/BlissPro-Bold.eot');
    src: url('fonts/BlissPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/BlissPro-Bold.woff') format('woff'),
    url('fonts/BlissPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlissPro_ExtraBold';
    src: url('fonts/BlissPro-ExtraBold.eot');
    src: url('fonts/BlissPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/BlissPro-ExtraBold.woff') format('woff'),
    url('fonts/BlissPro-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Impact';
    src: url('fonts/Impact.eot');
    src: url('fonts/Impact.eot?#iefix') format('embedded-opentype'),
        url('fonts/Impact.woff2') format('woff2'),
        url('fonts/Impact.woff') format('woff'),
        url('fonts/Impact.ttf') format('truetype'),
        url('fonts/Impact.svg#Impact') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

/*-- Popup --*/

.popup {
    min-height: 100vh;
    padding: 20px 0 0 0;
    overflow: hidden;
    background-image: url(img/popup_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.popup:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 51, .66);
    position: absolute;
    top: 0;
    left: 0;
}

.popup_inner {
    min-height: 100vh;
    position: relative;
    z-index: 2;
    padding: 0 0 180px 0;
}

.popup_header {
    background-color: #000033;
    position: relative;
    padding: 16px 0 20px 0;
}

.popup_header .desc {
    position: relative;
    z-index: 3;
    padding: 0 0 0 6%;
}

.popup_header h1 {
    font-family: 'BlissPro_ExtraBold';
    font-size: 43px;
    line-height: 46px;
    color: #ffffff;
}

.popup_header h1 .small {
    display: block;
    font-size: 44px;
    line-height: 44px;
    font-weight: 800;
}

.popup_header h1 .big {
    font-family: 'BlissPro_Heavy';
    display: block;
    margin: -11px 0;
    font-size: 71px;
    line-height: 71px;
}

.popup_header p {
    font-family: 'BlissPro_Bold';
    padding-left: 3%;
    font-size: 37px;
    line-height: 38px;
    color: #ffff00;
}

.popup_header .img {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    top: -13px;
    right: 33%;
    z-index: 2;
}

.popup_header .flag_box {
    display: block;
    width: 49%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.popup_header .flag_box img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.popup_content {
    position: relative;
    padding: 19px 3%;
}

.player_img {
    display: block;
    width: auto;
    height: auto;
    max-height: 140%;
    position: absolute;
    top: 55px;
    left: -24%;
}

.popup_content .inner_wrapp {
    position: relative;
    z-index: 2;
}

.thumb-1_1_wrapp {
    text-align: right;
    padding-right: 51%;
}

.thumb-1_2_wrapp {
    text-align: right;
    position: relative;
    top: -13px;
}

.thumb-1_3_wrapp {
    margin: 8px 0 18px 0;
    text-align: right;
}

.thumb-1 {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
}

.thumb-1 i {
    position: absolute;
    top: 0;
    left: 0;
    zoom: .7;
}

.thumb-1 p {
    font-family: 'Impact';
    font-size: 25px;
    line-height: 25px;
    color: #ffffff;
}

.thumb-1 p.p-1 {
    font-size: 63px;
    line-height: 67px;
    color: #ccff00;
}

.thumb-1 p.p-1 .small {
    font-size: 30px;
    line-height: 30px;
}

.thumb-1 p.p-1 .small_2 {
    font-size: 25px;
    line-height: 25px;
}

.thumb-1 p.p-2 {
    font-size: 21px;
    line-height: 22px;
}

.icon_1 {
    display: inline-block;
    vertical-align: top;
    width: 66px;
    height: 77px;
    background-image: url(img/icon_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.icon_2 {
    display: inline-block;
    vertical-align: top;
    width: 99px;
    height: 76px;
    background-image: url(img/icon_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.icon_3 {
    display: inline-block;
    vertical-align: top;
    width: 82px;
    height: 78px;
    background-image: url(img/icon_3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.icon-4 {
    display: inline-block;
    vertical-align: top;
    width: 51px;
    height: 52px;
    background-image: url(img/icon_4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.icon-5 {
    display: inline-block;
    vertical-align: top;
    width: 47px;
    height: 49px;
    background-image: url(img/icon_5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.icon-6 {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 93px;
    background-image: url(img/icon_6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.icon-7 {
    display: inline-block;
    vertical-align: top;
    width: 52px;
    height: 52px;
    background-image: url(img/icon_7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.thumb-1_1 {
    padding: 0 0 0 54px;
}

.thumb-1_1 p {
    position: relative;
    top: 5px;
}

.thumb-1_2 i {
    top: 24px;
}

.thumb-1_2 p {
    padding: 0 0 0 82px;
}

.thumb-1_3 {
    padding: 0 0 0 60px;
}

.thumb-1_3 p {
    position: relative;
}

.thumb-1_3 .p-2 {
    padding-left: 17%;
}

.thumb-1_3 i {
    top: 16px;
}

.thumb-2_1_wrapp {
    text-align: right;
    padding: 11px 0;
}

.thumb-2_2_wrapp {
    text-align: right;
    padding: 11px 0;
}

.thumb-2 {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 177px;
    height: 75px;
    background-image: url(img/th_2_2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.thumb-2 i {
    position: absolute;
    top: 11px;
    left: 21px;
}

.thumb-2 p {
    font-family: 'BlissPro_Bold';
    padding: 24px 12% 24px 0;
    text-align: right;
    font-size: 23px;
    line-height: 25px;
    color: #ccff00;
}

.thumb-2_2 {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    height: 70px;
    background-image: url(img/th_2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.thumb-2_2 i {
    top: 10px;
    left: 18px;
}

.thumb-2_2 p {
    padding: 23px 11%;
    text-align: right;
    font-size: 20px;
    line-height: 23px;
    color: #ccff00;
}

.count_thumb_wrapp {
    text-align: right;
    margin: 35px 0 18px 0;
}

.count_thumb {
    display: inline-block;
    vertical-align: top;
    min-height: 100px;
    position: relative;
    margin-right: 10%;
    padding: 0 0 0 61px;
}

.count_thumb i {
    position: absolute;
    top: 0;
    left: 0;
}

.count_thumb p {
    padding: 0 5px;
    font-family: 'Impact';
    font-size: 81px;
    line-height: 83px;
    color: #ffffff;
}

.count_thumb p .green {
    color: #ccff00;
}

.count_thumb p .red {
    color: #ff0000;
}

.popup_footer {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    min-height: 150px;
    width: 100%;
    padding: 25px 0 32px 3%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.popup_footer .col-1 {
    display: inline-block;
    vertical-align: top;
    width: 31%;
    padding: 47px 0 10px 0;
    position: relative;
    z-index: 2;
}

.popup_footer .col-2 {
    display: inline-block;
    vertical-align: top;
    width: 69%;
}

.thumb-3 {
    position: relative;
    padding: 0 0 0 80px;
}

.thumb-3 .img-box {
    width: 65px;
    height: 64px;
    padding: 6px;
    position: absolute;
    top: 3px;
    left: 0;
    background: rgba(0, 0, 51, .66);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.thumb-3 p {
    font-family: 'Impact';
    font-size: 21px;
    line-height: 21px;
    color: #ccff00;
}

.thumb-3 p.p-1 {
    margin: -11px 0 0 0;
    font-size: 54px;
    line-height: 54px;
    color: #ffffff;
}

.club-article {
    position: relative;
}

.club-article .inner {
    min-height: 112px;
    padding: 28px 0 28px 8%;
    position: relative;
    z-index: 2;
}

.club-article:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: rgba(0, 0, 51, .66);
}

.club-article .description {
    position: relative;
    z-index: 3;
}

.club-article p {
    font-family: 'BlissPro_Heavy';
    font-size: 19px;
    line-height: 23px;
    color: #ffffff;
}

.club-article p.p-1 {
    font-size: 32px;
    line-height: 34px;
}

.club-article .img {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    top: -23px;
    right: 21%;
    z-index: 2;
}

.club-article .img-box {
    width: 27%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.club-article .img-box img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}


/*-- /Popup --*/


@media only screen and (max-width: 620px) {

    .popup_inner {
        padding: 0 0 230px 0;
    }

    .popup_header {
        padding: 7px 0 11px 2%;
    }

    .popup_header .desc {
        padding: 0 0 0 2%;
    }

    .popup_header h1 .small {
        font-size: 29px;
        line-height: 31px;
    }

    .popup_header h1 .big {
        margin: -13px 0;
        font-size: 47px;
        line-height: 55px;
    }

    .popup_header p {
        padding-left: 1%;
        font-size: 29px;
        line-height: 31px;
        color: #ffff00;
    }

    .popup_header .img {
        max-width: 115px;
        right: 28%;
    }

    .popup_header .flag_box {
        width: 51%;
    }

    .popup_header .flag_box img {
        max-height: 100%;
        max-width: auto;
        min-width: auto;
        min-height: auto;
        top: 0;
        left: auto;
        right: 0;
        transform: none;
    }

    .popup_content {
        padding: 7px 3%;
    }

    .player_img {
        max-height: 123%;
        top: 60px;
        left: -16%;
    }

    .thumbs_wrapp {
        font-size: 0;
        line-height: 0;
    }

    .thumb-1_1_wrapp {
        display: inline-block;
        vertical-align: top;
        width: 38%;
        padding-right: 0;
        margin: 0 2% 0 0;
        padding: 0 2% 0 0;
    }

    .thumb-1_2_wrapp {
        display: inline-block;
        vertical-align: top;
        width: 58%;
        top: 0;
        margin: 0 0 0 2%;        
    }

    .thumb-1 p.p-1 {
        font-size: 47px;
        line-height: 51px;
    }

    .thumb-2_1_wrapp {
        padding: 0;
    }

    .thumb-2_2_wrapp {
        padding: 4px 0;
    }

    .count_thumb_wrapp {
        margin: 0 0 14px 0;
    }

    .count_thumb {
        min-height: 93px;
        margin-right: 0;
    }

    .count_thumb p {
        font-size: 54px;
        line-height: 61px;
    }

    .count_thumb i {
        zoom: .7;
    }

    .thumb-3 p.p-1 {
        font-size: 49px;
        line-height: 50px;
    }

    .popup_footer {
        min-height: 230px;
        padding: 0 0 0 1%;
    }

    .popup_footer .col-1 {
        width: 100%;
        padding: 10px 0 20px 0;
    }

    .popup_footer .col-2 {
        width: 100%;
    }

    .club-article .inner {
        min-height: 108px;
        padding: 23px 0 21px 8%;
    }

    .club-article .img {
        max-height: 124px;
    }

    .club-article .img-box img {
        min-width: unset;
        min-height: unset;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        transform: none;
    }

}

@media only screen and (max-width: 480px) {

    .thumb-1 i {
        zoom: .6;
    }

    .thumb-1 p {
        font-size: 21px;
        line-height: 22px;
    }

    .thumb-1 p.p-1 {
        font-size: 39px;
        line-height: 44px;
    }

    .thumb-1 p.p-2 {
        font-size: 20px;
        line-height: 20px;
    }

    .thumb-1_3_wrapp {
        margin: 8px 0 9px 0;
    }

    .count_thumb {
        min-height: 46px;
        padding: 0 0 0 43px;
    }

    .count_thumb p {
        font-size: 43px;
        line-height: 50px;
    }

    .count_thumb i {
        zoom: .6;
    }

    .popup_footer .col-1 {
        padding: 10px 0 12px 0;
    }

}

@media only screen and (max-width: 390px) {

    .popup_inner {
        padding: 0 0 110px 0;
    }

    .popup_header {
        padding: 2px 0 5px 2%;
    }

    .popup_header h1 .small {
        font-size: 25px;
        line-height: 28px;
    }

    .popup_header h1 .big {
        margin: -9px 0;
        font-size: 36px;
        line-height: 46px;
    }

    .popup_header p {
        font-size: 25px;
        line-height: 25px;
    }

    .popup_header .img {
        max-width: 93px;
    }

    .thumb-1_1 {
        padding: 0 0 0 41px;
    }

    .thumb-1 i {
        zoom: .5;
    }

    .thumb-1 p.p-1 {
        font-size: 29px;
        line-height: 31px;
    }

    .thumb-1_2 p {
        padding: 0 0 0 62px;
    }

    .thumb-1 p.p-1 .small {
        font-size: 24px;
        line-height: 27px;
    }

    .thumb-1 p {
        font-size: 19px;
        line-height: 19px;
    }

    .thumb-1_3 {
        padding: 0 0 0 42px;
    }

    .thumb-2 {
        width: 148px;
        height: 64px;
        background-size: contain;
    }

    .thumb-2_2 {
        width: 140px;
        height: 63px;
    }

    .thumb-2 i {
        top: 13px;
        left: 23px;
        zoom: .8;
    }

    .thumb-2_2 i {
        top: 14px;
        left: 22px;
    }

    .thumb-2 p {
        padding: 19px 12% 19px 0;
    }

    .thumb-2_2 p {
        padding: 21px 11%;
    }

    .count_thumb {
        min-height: 43px;
        padding: 0 0 0 35px;
    }

    .count_thumb i {
        top: -4px;
        zoom: .5;
    }

    .count_thumb p {
        font-size: 37px;
        line-height: 43px;
    }

    .thumb-3 .img-box {
        top: 0;
    }

    .thumb-3 p.p-1 {
        margin: -7px 0 0 0;
        font-size: 39px;
        line-height: 45px;
    }

    .popup_footer {
        min-height: 185px;
    }

    .popup_footer .col-1 {
        padding: 10px 0 7px 0;
    }

    .club-article .inner {
        min-height: 78px;
        padding: 17px 0 13px 6%;
    }

    .club-article .img {
        max-height: 103px;
        top: -19px;
        right: 17%;
    }

    .club-article p {
        font-size: 16px;
        line-height: 17px;
    }

    .club-article p.p-1 {
        font-size: 27px;
        line-height: 29px;
    }

}

@media only screen and (max-height: 560px) {

    .popup_header h1 .small {
        font-size: 19px;
        line-height: 21px;
    }

    .popup_header h1 .big {
        margin: -9px 0;
        font-size: 30px;
        line-height: 39px;
    }

    .popup_header p {
        font-size: 19px;
        line-height: 19px;
    }

    .popup_header .img {
        max-width: 76px;
    }

    .thumb-1 p.p-1 {
        font-size: 27px;
        line-height: 29px;
    }

    .thumb-1_2 i {
        top: 18px;
    }

    .thumb-1_3_wrapp {
        margin: 8px 0 2px 0;
    }

    .thumb-2_2_wrapp {
        padding: 0;
    }

    .thumb-3 {
        padding: 0 0 5px 72px;
    }

    .thumb-3 p {
        font-size: 17px;
        line-height: 19px;
    }

    .thumb-3 p.p-1 {
        font-size: 35px;
        line-height: 41px;
    }

}